
*{
  text-align: center;
}
#pic{
  border:2px,solid,black;
  border-radius:20%;
}
.jumbotron{
  color:white;
  animation-name: background;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  background-size: cover;
  animation-timing-function: linear;
  
}
@keyframes background{
  0%{background-image: url("../images/photo1.jpg");

  }
  25%{background-image: url("../images/photo2.jpg");

  }
  50%{background-image: url("../images/photo3.jpg");
 
  }
  100%{
background-image: url("../images/photo4.jpg");
  }

 
  }
  #ekansh{
    border:2px,solid,black;
    border-radius:10%;
  }
  #end h3{
    letter-spacing: 2px;
  }
 
 #navbar {
    background: linear-gradient(254deg, #ee4266, #c4cbca, #3cbbb1);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
  #cards{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img-top{
    size: cover;
  }
  .space{
    margin: 5px;
  }
  /* .cards{
    border: 2px solid grey;
    border-radius:20%;
  } */
  .card{
    border: 2px solid white;
    border-radius:20%;
  }
#rgb
  {
    background: linear-gradient(254deg, #ee4266, #c4cbca, #3cbbb1);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
}

#form{
  border: 1px solid white;
  border-radius: 10%;
}
#lang{
  justify-content: center;
  text-align: center;
}